/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */


/*************************************** HEADER *********************************************/


#header_main .av-logo-container .inner-container {
display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}


#header_main .av-main-nav {
display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 0 10% 0 0;
}

#header_main .av-main-nav li {
  float: right;
}

#header_main .av-main-nav > li > a {
  padding: 0 15px;
}

#header_main .av-main-nav > li:first-child > a {
  padding-right: 0;
}

#header_main .av-main-nav #menu-item-search {
  display:none !important;
}

#header_main .inner-container > ul{
  margin:0;
  right:0 !important;
}

#header_main .inner-container > ul > li > a > span::before{
font-size: 20px;
color:#507295;
}

#header_main_alternate {
  margin-top:10px;
}


#text-4{
  text-align: center;
  font-weight: bolder;
}
/* 
#media_image-3 h3{
  margin-left: 70px;
  color: #e8eee8;
  margin-top: 13px;
}

  #media_image-3{
  padding: 14px;
  overflow: hidden;
  margin: 0;
} 

.image.wp-image-90.attachment-full.size-full{
  padding: 43px;
  margin-top: -40px;
  margin-left: -36px;
}

#media_image-3 a{
  overflow: initial;
  margin-left: -4px;
  margin-top: -50px; 
  display: block;
  padding: 2px;
}
 
#media_image-4{
  left: 189px;
  top: -120px;
} 

#media_image-4 h3{
  color: #e8eee8;
  margin-left: 72px;
  margin-bottom: -37px;
}

.image-overlay.overlay-type-extern{
  background: transparent;
  visibility: hidden;
}



.image.wp-image-91.attachment-full.size-full{
  padding: 41px;
  margin-top: -33px;
  margin-left: -31px;

}

.image.wp-image-90.attachment-full.size-full{
  padding: 41px;
  margin-top: -33px;
  margin-left: -31px; 

}
 
#media_image-5{
  bottom: 172px;
  padding: 0px;
  left: 43px;
} */
 
.header_color strong{
margin-left: 14%;
}

.av_textblock_section{
  margin-top: -36px;
}

.flex_column.av_one_full.flex_column_div.av-zero-column-padding.first.avia-builder-el-4.el_after_av_textblock.el_before_av_one_full.column-top-margin{
  top: -50px;
}

.main_color #after_layer_slider-1{
  margin-top: 30px !important;
  border-color: transparent !important;
}

#menu-item-search a{
  background-color: #41608e;
  color: white;
  width: 39px;
}

#searchform{
  visibility: visible;
}

#top .thumbnail_container img{
  margin: 6px !important;
  display: block !important;
  width: 96% !important;
  height: 310px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding: 56px !important;
}

.woocommerce-loop-product__title{
  text-transform: unset !important;
  letter-spacing: 0px !important;
  font-size: inherit !important;
  text-align: center !important;
}

.woocommerce-Price-amount.amount{
  font-weight: inherit !important;
  color: black !important;
  text-align: center !important;
  font-size: 12px !important;
  display: block !important;

}

.price{
  font-weight: 1 !important;
}

.woocommerce-Price-currencySymbol{
  font-weight: 1 !important;
}

#av_section_1{
  padding: 24px;
}

.avia_textblock.av_inherit_color{
  padding: 20px;
}

#av_section_2 .av-no-gap.av-fixed-size .av-masonry-entry .av-inner-masonry {
  position: absolute;
  top: 0px;
  left: -1px;
  right: 0px;
  bottom: -2px;
  border: 1px solid #e1e1e1;
}

.av-masonry-entry-content.entry-content{
  font-weight: bold;
}

#av-masonry-1{
  box-shadow: 0px 2px 1px #ccc;
}

.av_textblock_section{
  margin-top: -32px;
}

#av_section_3{
  margin-top: -103px;
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
  color: white !important;
  background: #507295 !important;
  margin-left: 11% !important;
  height: 32px;
  font-size: 16px !important;
  width: 76% !important;
  padding: 8px 3px !important;
}

.button.show_details_button{
  visibility: hidden !important;
}
.button-mini-delimiter{
  visibility: hidden;
}

.avia_cart_buttons{
  background: white;
  border: transparent;
  background-color: #ffffff !important;
}

.ls-slide.ls-slide-1.ls-animating{
  margin-top: -46px;
}

.ls-bg.ls-preloaded{
  width: 102% !important;
}

.inner_product_header .avia-arrow{
  visibility: hidden;
}

.product-sorting{
  visibility: hidden;
}


.product .inner_product {
  border:none;
}

.product .inner_product .thumbnail_container{
  border: 1px solid #e1e1e1;
}

.product .inner_product .inner_product_header{
  border: none !important;
}

.product .inner_product .avia_cart_buttons {
  opacity: 1;
}

#footer > .container {
  display: flex;
    align-items: center;
}


#footer .flex_column.av_one_third{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .flex_column.av_one_third > section {
  width: 100%;
}

#media_image-3, #media_image-4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 !important;
  align-items: center;
}

#media_image-4 > h3,#media_image-3 > h3 {
  margin: 0 10px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #fff;
}

#media_image-4 > a,#media_image-3 > a{
display: flex;
}

#media_image-3 a img,#media_image-4 a img{
  width: 46px !important;
    height: 46px !important;
    max-width: 46px !important;
  
}


#socials-footer {
  display:flex;
  justify-content: center;
}

#footer #media_image-5 {
display: flex;
justify-content: center;
}


/*SECTION 1*/



/* #footer .flex_column.av_one_third:last-child{
flex-direction: row;
justify-content: center;
} 

 */
/*propiedades del footer*/



/*a*/



/*#av-masonry-1{
  width: 1068px;
  height: 332px;
  left: 69px;
  top: -70px;  
}*/

/* 
.avia-search-tooltip.avia-tt{
  display: block !important;
}
 

.avia-search-tooltip.avia-tt:active{
  display: block !important;
}
 */
/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

  #header .logo {
    height: 130%;
    top: 0;
    left: 10%;
  }

  #top #header .av-main-nav > li > a {
    background-color: transparent !important;
  }

  #top #header .av-main-nav > li > a .avia-menu-text{
    padding: 5px 10px;
  }

  #top #header .av-main-nav > li:hover > a .avia-menu-text{
    background-color: #3a4096;
  }
}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

  #footer > .container {
      flex-direction: column;
  }

}


@media only screen and (max-width: 1200px){
/* 
   #media_image-4{
    top: -55px;
    left: -3px;
  }

  #media_image-5{
    bottom: 120px;
    left: -6px;
  }
  */


}

